repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-yaml
        args: [--allow-multiple-documents]
    -   id: end-of-file-fixer
        exclude: request_a_govuk_domain/static|seed/
    -   id: trailing-whitespace
        exclude: request_a_govuk_domain/static|seed/
# Enforce code style
-   repo: https://github.com/psf/black
    rev: 23.12.0
    hooks:
    -   id: black
        exclude: request_a_govuk_domain/static|seed/
# Linting
-   repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
    -   id: flake8
        exclude: request_a_govuk_domain/static|seed/
# https://gds-way.cloudapps.digital/standards/pre-commit-hooks.html
-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        exclude: (^\.github/workflows/)|package\.lock\.json|(^tests/fixtures/)|request_a_govuk_domain/static|seed/
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
    -   id: mypy
        exclude: wsgi.py
        additional_dependencies:
        -    types-six
        -    'django-stubs[compatible-mypy]'
        -    django-admin-interface
        -    django-environ
        -    psycopg2-binary
        -    django-postgres-extra
        -    govuk-frontend-django
        -    crispy-forms-gds
        -    django-simple-history
        -    django-phonenumbers
        -    django-phonenumber-field
        -    django-storages
        -    django-cors-headers
        -    boto3
        -    clamd
        -    notifications-python-client
        -    markdown
        -    types-Markdown
        -    celery
        -    django_celery_results
