{% extends "base.html" %}
{% load govuk_frontend_django crispy_forms_gds %}

{% block title %}Service fail{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
                    <p class="govuk-body">Try again later.</p>
                    <p class="govuk-body">We did not save your answers, you must answer them again. </p>

                    <p class="govuk-body">
                        Email <code>approvals@domains.gov.uk</code> if you need support with your
                        .gov.uk domain name registration. </p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
