{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block title %}Domain confirmation{% endblock %}

{% block before_main %}
  {% url "domain" as back_url %}
  {% back_link back_url %}
{% endblock %}

{% block main %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% error_summary form %}
      <h1 class="govuk-heading-l">
        Is {{ registration_data.domain_name }} the correct domain name?
      </h1>
      {% crispy form %}
    </div>
  </div>
{% endblock %}
