{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load govuk_frontend_django %}

{% block title %}Domain purpose fail{% endblock %}

{% block beforeContent %}
  {% url 'domain_purpose' as back_url %}
  {% back_link back_url %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Your registrant does not need a new third-level.gov.uk domain name
      </h1>
      <p class="govuk-body">There are existing government domains your registrant should use.</p>
      <p class="govuk-body">They should use:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="https://www.gov.uk/guidance/get-an-api-domain-on-govuk">.api.gov.uk for an API</a></li>
        <li><a class="govuk-link" href="https://www.gov.uk/service-manual/technology/get-a-domain-name">.service.gov.uk for a service</a></li>
        <li><a class="govuk-link" href="https://www.gov.uk/guidance/content-design/campaigns-on-gov-uk-standards-and-guidelines">.campaign.gov.uk for a campaign</a></li>
        <li><a class="govuk-link" href="https://www.gov.uk/government/publications/govuk-proposition/govuk-proposition">.independent.gov.uk for an independent inquiry</a></li>
        <li><a class="govuk-link" href="https://insidegovuk.blog.gov.uk/2013/05/24/gov-uk-blogs-how-to-get-one/">.blog.gov.uk for a blog</a></li>
        <li><a class="govuk-link" href="https://guidance.data.gov.uk/publish_and_manage_data/#publish-and-manage-datasets">data.gov.uk for publishing a government dataset.</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
