{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block title %}Registrar email contact{% endblock %}

{% block main %}

  {% block beforeContent %}
    {% url "start" as back_url %}
    {% back_link back_url %}
  {% endblock %}

  {% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% error_summary form %}

        <h1 class="govuk-heading-xl">
          What is your email address?
        </h1>

        {% crispy form %}

      </div>
    </div>

  {% endblock %}
{% endblock %}
