{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block title %}Exemption upload{% endblock %}

{% block before_main %}
  {% url "exemption" as back_url %}
  {% back_link back_url %}
{% endblock %}

{% block main %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% error_summary form %}

      <h1 class="govuk-heading-l">
        Upload evidence of the exemption
      </h1>
      <form method="post" action="{% url 'exemption_upload' %}" enctype="multipart/form-data">
        {% crispy form %}
      </form>
    </div>
  </div>
{% endblock %}
