{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block title %}Minister{% endblock %}

{% block beforeContent %}
  {% url "domain_confirmation" as back_url %}
  {% back_link back_url %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% error_summary form %}
      <h1 class="govuk-heading-l">
        Has a central government minister requested the {{ registration_data.domain_name }} domain name?
      </h1>
      <p class="govuk-body">
        If the requested .gov.uk domain does not meet the domain naming rules, it could still be approved if it has ministerial support. For example, the domain is needed to support the creation of a new government department or body.
      </p>
      {% crispy form %}
    </div>
  </div>
{% endblock %}
