{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load govuk_frontend_django %}

{% block main %}

  {% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Which .gov.uk Approved Registrar organisation are you from?
        </h1>

        <form method="post" action="{% url 'registrar' %}">
          {% csrf_token %}
          {% crispy form %}
        </form>
      </div>
    </div>
  {% endblock %}

{% endblock %}
