{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load govuk_frontend_django %}

{% block main %}
  
  {% block beforeContent %}
    {% gds_component "back-link" href="/" %}
  {% endblock %}

  {% block content %}
    <h1 class="govuk-heading-xl">
      Which .gov.uk Approved Registrar organisation are you from?
    </h1>

    <form method="post" action="{% url 'registrar' %}">
      {% csrf_token %}
      {% crispy form %}

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          If you are not listed as a .gov.uk Approved Registrar
          on the registry operator's website, you cannot use
          this service.
        </strong>
      </div>

      <a href="/exemption_upload" class="govuk-button" data-module="govuk-button">
        Continue
      </a>
    </form>
  {% endblock %}

{% endblock %}
  