{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block title %}Registrant details{% endblock %}

{% block beforeContent %}
  {% url "domain_confirm" as back_url %}
  {% back_link back_url %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% error_summary form %}

      <h1 class="govuk-heading-l">
        Registrant details
      </h1>

      <p class="govuk-body">
        The registrant must be a civil servant or a public servant, and be the person responsible for:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>getting permission to apply for the .gov.uk domain name</li>
        <li>choosing a .gov.uk Approved Registrar</li>
      </ul>

      {% if route.primary == 1 or route.primary == 3 %}
        <p class="govuk-body">
          For example, for Parish Councils the registrant must be the Clerk.
        </p>
      {% endif %}

      {% crispy form %}

    </div>
  </div>
{% endblock %}
