{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block title %}Registry details{% endblock %}

{% block beforeContent %}
  {% url "registrant_details" as back_url %}
  {% back_link back_url %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% error_summary form %}

      <h1 class="govuk-heading-l">
        Registrant details for publishing to the registry
      </h1>

      <p class="govuk-body">
        You must make sure the Registrant provides the appropriate contact details to publish in the Registry. The details on this page must match the details you give to Nominet when creating the domain name.
      </p>

      {% crispy form %}
    </div>
  </div>
{% endblock %}
