{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags crispy_forms_gds %}
{% load govuk_frontend_django %}
{% load csp %}

{% block title %}Session Ended{% endblock %}
{% block session_ended %}{% endblock %} <!-- we do not show the model dialog on session-ended page, so making it empty -->

{% block content %}
{% load custom_filters %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% error_summary form %}
            <h1 class="govuk-heading-xl">
                Your session has ended due to inactivity
            </h1>

            <p class="govuk-body">
                Your session has ended because you haven't done anything for over {{ SESSION_TIMEOUT|divide_by_60 }} minutes.
            </p>
            {% gds_component "inset-text" text="We have deleted all the answers you've entered to protect your security." %}

            {% crispy form %}
        </div>
    </div>
{% endblock %}
