name: Django CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      postgres:
        # Docker Hub image
        image: postgres
        env:
          POSTGRES_DB: govuk_domain
          POSTGRES_USER: govuk_domain
          POSTGRES_PASSWORD: govuk_domain
        ports:
          - "5432:5432"
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Install required system packages
      run: |
        sudo apt-get update &&
        sudo apt-get -y install libcurl4-nss-dev curl git make build-essential libssl-dev zlib1g-dev libbz2-dev \
        libreadline-dev libsqlite3-dev wget ca-certificates libncurses5-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev \
        libffi-dev liblzma-dev mecab-ipadic-utf8 unzip --fix-missing
    - name: Install pyenv and Python
      run: |
        curl https://pyenv.run | bash && \
        export PYENV_ROOT="$HOME/.pyenv" && \
        [[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH" && \
        eval "$(pyenv init -)" && \
        pyenv update && \
        pyenv install 3.10.11 && \
        pyenv global 3.10.11 && \
        pyenv rehash
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade poetry pre-commit
        poetry install --no-root
    - name: Run linters
      run: |
        pre-commit run --all
    - name: Init server
      env:
        SECRET_KEY: blah
        DATABASE_URL: postgresql://govuk_domain:govuk_domain@localhost:5432/govuk_domain
      run: |
        poetry run ./manage.py collectstatic --noinput
        poetry run ./manage.py migrate --noinput
        poetry run ./manage.py create_reviewer_group
        poetry run ./manage.py loaddata ./seed/users.json
        poetry run ./manage.py create_sample_application

    - name: Cypress
      uses: cypress-io/github-action@v6
      env:
        SECRET_KEY: blah
        DATABASE_URL: postgresql://govuk_domain:govuk_domain@localhost:5432/govuk_domain
      with:
        start: poetry run ./manage.py runserver
    - name: Run Unit Tests
      env:
        DATABASE_URL: postgresql://govuk_domain:govuk_domain@localhost:5432/govuk_domain
      run: |
        SECRET_KEY=unneeded poetry run python manage.py test -v 2
